
<div class="q-div">
  <!-- kysymys -->
  <h1 class="q-title">1. Oletko kiinnostunut osallistumaan monialaisille kursseille?</h1>


  <!-- vastaus alue -->
  <div class="rb-div">
    <ul>
      <li>
        <input id="r-1" type="radio" name="r-button" ng-model="formData.type" value="erittain paljon">
        <label for="r-1" ng-click="answerOne = 4">Hyvin paljon</label><div class="check"></div>
      </li>
      <li>
        <input id="r-2" type="radio" name="r-button" ng-model="formData.type" value="kohtalaisesti">
        <label for="r-2" ng-click="answerOne = 3">Jonkin verran</label><div class="check"></div>
      </li>
      <li>
        <input id="r-3" type="radio" name="r-button" ng-model="formData.type" value="en juurikaan">
        <label for="r-3" ng-click="answerOne = 2">En juurikaan</label><div class="check"></div>
      </li>
      <li>
        <input  id="r-4" type="radio" name="r-button" ng-model="formData.type" value="en yhtaan">
        <label for="r-4" ng-click="answerOne = 1">En yhtään</label><div class="check"></div>
      </li>          
    </ul>      
  </div>
</div>

<!--
<pre>
  {{formData}}
</pre>
-->

<!-- buttonit -->

<div class="btn-div text-center pull-down clearfix">
  <a class="fl-left" ui-sref="start"><span>Edellinen</span></a>
  <a class="fl-right" ui-sref="questionnaire.question-2"><span>Seuraava</span></a>      
</div>