
<div class="q-div">
  <!-- kysymys -->
  <h1 class="q-title"> {{obj.kysymykset[0].teksti}} </h1>
  
  <!-- vastaus alue -->
  <div class="rb-div">
    <ul ng-repeat="data in rbtn">
      <li>
        <input id="rb1_{{data.id}}" name="r-btn" type="radio" ng-model="formData.radiobutton" value={{data.id}}>
        <label for="rb1_{{data.id}}">{{data.teksti}}</label><div class="check"></div>
      </li>
    </ul>      
  </div>
</div>

<!--
<pre>
  {{formData}}
</pre>
-->

<!-- buttonit -->

<div class="btn-div text-center pull-down clearfix">
  <a class="fl-left" ui-sref="start"><span>Edellinen</span></a>
  <a class="fl-right" ui-sref="questionnaire.question-2"><span>Seuraava</span></a>      
</div>